.leadershipHolder{ padding: 64px 0 ; background: #f6f7f9; background-image: url(assets/images/dot-bg.png); background-repeat: no-repeat; background-position: right top;}


@media screen and (max-width: 991px) {
  
}
@media screen and (max-width: 767px) {
  
}