.missionHolder{background-attachment: fixed; padding: 220px 0; background: url(assets/images/missionBg.jpg) no-repeat center center #000 ; background-size: cover; background-attachment: fixed;}
.missionHolder h6{ color: #fff; padding: 0 0 30px 0;}
.missionHolder h3{ color: #fff; padding: 0 0 50px 0;}
.domainsName{ display: flex; justify-content: center; gap: 40px; overflow-x: auto; }
.domainsNameBox{ background: radial-gradient(57.18% 135% at 50% -35%, rgba(248, 248, 255, 0) 0%, rgba(248, 248, 255, 0.032) 100%); padding: 12px 55px; backdrop-filter: blur(10px); overflow: hidden; color: rgba(248, 248, 255, 1); font-size: var(--fs-32); border-radius: 100px; border: 1px solid rgba(255,255,255,0.2); flex-shrink: 0; margin-bottom: 15px;}



@media screen and (max-width: 991px) {
  .missionHolder{ padding: 100px 0;}
}
@media screen and (max-width: 767px) {
  .domainsName{ gap: 10px; padding: 20px; flex-wrap: wrap; justify-content: center;}
  .domainsNameBox{ padding: 12px 35px;}
}