.footer{ background: var( --footer-bg); padding: 80px 0; background-image: url(assets/images/footer-bg.png); background-repeat: no-repeat; background-position: right bottom;}
.footerMenuHolder{ display: flex; justify-content: space-between;}
.footerMenuColumn{ width: 49%;
  ul{ margin: 0; padding: 0; list-style: none; display: flex; flex-direction: column; gap: 16px;
    li{ display: block; 
      a{ display: block; color: rgba(248, 248, 255, 0.64); font-size: var(--fs-14); 
      &:hover{ color: #fff; }
      }
    }
  }
}
.footerTop p{ color: rgba(248, 248, 255, 0.64); font-size: var(--fs-14); letter-spacing: 1px;}

.socialIconsHolder{ display: block; margin: 55px 0 0 0;
  ul{ margin: 0; padding: 0; list-style: none; display: flex;gap: 24px;
    li{ display: block; width: 24px;
      a{ color: rgba(248, 248, 255, 0.64);  }
    }
  }
}

.footerBottom{ margin: 55px 0 0 0;}
.copyright p{ color: rgba(248, 248, 255, 0.64); font-size: var(--fs-14); font-weight: 400; padding: 0;}
.footerLinks{
  ul{
    margin: 0; padding: 0; list-style: none; display: flex; gap: 26px;
    li{
      display: block; position: relative;
      &:after{
        content: ''; position: absolute; width: 2px; height: 2px; background: rgba(248, 248, 255, 0.64); top: 12px; right: -15px;
      }
      &:last-child:after{ display: none;}
      a{
        color: rgba(248, 248, 255, 0.64); font-size: var(--fs-14); font-weight: 400;
        &:hover{ color: #fff;}
      }
      }
    }
  }


  @media screen and (max-width: 991px) {
    .footer{ padding: 45px 0;}
    .footerMenuHolder{ margin-top: 15px;}
    .socialIconsHolder{ margin: 40px 0 0 0;}
    .footerBottom{ margin: 40px 0 0 0;}
    .footerLinks{ margin: 0 0 15px 0;}
  }

