.sponsorLogoHolder{ padding: 32px 0; background: #F6F7F9;}
.sponsorLogos{ display: flex; gap: 40px;}

@media screen and (max-width: 1400px) {
    .sponsorLogos{ gap: 20px;}
}
@media screen and (max-width: 991px) {
  .sponsorLogos{  flex-wrap: wrap; justify-content: center;}
  .spLg{ width: calc( 33.33% - 20px );}  
 }
@media screen and (max-width: 450px) {
  .sponsorLogos{  flex-wrap: wrap; justify-content: center;}
  .spLg{ width: calc( 50% - 20px );}  
 }